// main SASS file
@import 'Partials/variables';
@import 'Partials/queries';
@import 'Partials/mixins';


* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &:after,
  &:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
  font-family: $font0, $font1, font2, font3;
  /* default for whole page */
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: $font4, $font5, $font6, $font7, $font8;
  /* serif for the headings */
}

ul {
  list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/***********************************************
                LAYOUT
***********************************************/
%pseudo-block {
  content: "";
  position: absolute;
  bottom: -1rem;
  width: 30%;
  height: 1rem;
  background-color: $dark-blue;
}

.bg-header {
  background-color: $white;
  background-color: $light-blue;
  color: $dark-grey;
  border-bottom: 1rem solid $med-blue;
  border-top: 1rem solid $dark-blue;
  position: relative;

  &:before {
    left: 0;
    @extend %pseudo-block;
  }

  &:after {
    right: 0;
    @extend %pseudo-block;
  }
}

.bg-focal {
  background-color: $light-brown;
  color: $dark-brown;
}

.bg-content1 {
  background-color: $white;
  color: $dark-grey;
}

.bg-content2 {
  background-color: $light-blue;
  color: $dark-blue;
}

.bg-footer {
  background-color: $white;
  color: $light-grey;
}

header {
  width: 400px;
  /* default */
  margin: 0 auto;
  position: relative;

  h1 {
    @include bigwidth;
    padding: 0 2rem;
  }

  nav {
    @include bigwidth;


    ul {
      li {
        @include bigwidth;
        @include nofloat;
      }
    }
  }
}

section {
  .focal {
    width: 400px;
    /* default */
    margin: 0 auto;
  }

  .content1 {
    @include contentpadding;
  }

  .content2 {
    @include contentpadding;
  }
}

.row {
  clear: both;
}

.col-2 {
  width: 50%;
  @include leftfloat;
  padding-bottom: 2rem;
  border-left: 1px solid $dark-blue;
  margin-bottom: 2rem;
}

footer .col-2:first-child {
  border-left: 0;
}

footer {
  @include contentpadding;

  p:last-child {}
}

/***********************************************
                NAVIGATION
***********************************************/
header nav {
 @include contentpadding;
  clear: both;

  ul {
    li {
      a {
        @include block;
        text-align: center;
        text-decoration: none;
        color: $dark-grey;
        @include footerfont;
        letter-spacing: 0.25rem;
        border: 1px solid $light-grey;
        border-bottom: none;
        padding: 1.0rem 2rem;
        line-height: 1;
        background-color: $white;

        &:hover {
          font-weight: 700;
          color: $dark-brown;
        }
      }
    }
  }
}

/***********************************************
                CONTENT
***********************************************/
header h1 {
  color: $dark-brown;
  letter-spacing: 0.1rem;

  i.fa-lg {
    @include block;
    width: 25%;
    @include leftfloat;
    font-size: 7rem;
    line-height: 12.7936rem;
    color: $light-brown;

    & ~ span {
      float: right;
      width: 75%;
      font-size: 3.998rem;
      /**
    2 lines of 3.998 * 1.6 = 12.7936
    **/
      padding-left: 1rem;
      text-align: right;
    }
  }
}



.focal {
  h2 {
    @include headerfont1;
    line-height: 1.2;
    
  }

  .author {
    font-size: 1rem;
    padding: 0.2rem 2rem 2rem;
  }
}

.content1 {
  h3 {
 @include headerfont1;

    i {
      vertical-align: middle;
      padding-right: 2rem;
    }
  }

  p {
    @include footerfont;
    padding: 0.5rem 2rem 2rem;
  }
}

.content2 {
  h3 {
    @include standardfont;
    padding: 1rem 2rem 0.5rem;
  }

  h4 {
    @include standardfont;
    padding: 1rem 2rem 0rem;
  }

  p {
    @include footerfont;
    padding: 0.5rem 2rem 1rem;
  }

  li {
     @include footerfont1;
  }
}



/***********************************************
                FOOTER
***********************************************/
footer {
  h4 {
    @include footerfont1;
    color: $dark-brown;

    &[lang=de] {
      @include block;
    }

   @include ENRU;
    &[lang=ar] {
      display: none;
    }
  }



  p {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: $dark-grey;
  }

  .fa-circle {
    color: $dark-grey;
  }
}



/***********************************************
                MEDIA QUERIES
***********************************************/

@include phone {
  header {
    width: 700px;
    margin: 0 auto;
    min-height: 8rem;

    h1 {
      @include bigwidth;
      color: $dark-brown;

      i.fa-lg {
        display: inline;
        color: $dark-brown;
        vertical-align: baseline;
        @include nofloat;
        font-size: 4rem;
        line-height: 6.3968rem;

        & ~ span {
          @include nofloat;
          letter-spacing: 0.25rem;
          font-size: 3.998rem;
          /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
         @include alignleft;
        }
      }
    }

    nav {
      position: static;
      clear: both;
      @include bigwidth;
      padding: 0;

      ul > li {
        width: 20%;
       @include leftfloat;

        a {
          font-size: 1rem;
          line-height: 2rem;
          min-height: 6rem;
          border: none;
          border-left: 1px solid $light-grey;
          padding: 1.0rem;
          background-color: $white;

          &:last-child {
            border-right: 1px solid $light-grey;
          }
        }
      }
    }
  }



  header:before,
  header:after {
    width: 230px;
  }


  section.focal,
  section.content1,
  section.content2,
  footer {
    width: 700px;
    margin: 0 auto;
  }

  .col-4 {
    width: 50%;
    @include leftfloat;
  }

  section.content2 {
    h4 {
      @include footerfont;
    }

    li {
      @include footerfont;
    }
  }


  footer .fa-circle {
    color: $med-blue;
  }

  footer .col-2:last-child {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  footer h4 {
    &[lang=ar] {
      @include block;
    }
    &[lang=de]{
    display: none;
  }
    @include ENRU;
}
  }



@include tablet {
  header {
    width: 900px;
    margin: 0 auto;

    h1 {
      @include bigwidth;
      color: $dark-blue;

      i.fa-lg {
        display: inline;
        color: $dark-blue;
        vertical-align: baseline;
        @include nofloat;
        font-size: 4rem;
        line-height: 6.3968rem;

        & ~ span {
          @include nofloat;
          letter-spacing: 0.25rem;
          font-size: 3.998rem;
          /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
          @include alignleft;
        }

      }
    }

    nav {
      position: static;
      clear: both;
      @include bigwidth;
      padding: 0;

      ul > li {
        width: 20%;
        @include leftfloat;
        background-color: $white;

      

      a {
        font-size: 1rem;
        line-height: 2rem;
        min-height: 2rem;
        border: none;
        border-left: 1px solid $light-grey;
        padding: 0 1.0rem;
        margin: 1.0rem 0;
        background-color: $white;
        }
      }
    }
  }

  header:before,
  header:after {
    width: 300px;
  }

  section.focal,
  section.content1,
  section.content2,
  footer {
    width: 900px;
    margin: 0 auto;
  }

  section.focal {
    h2 {
      @include section2spacing;
    }

    p.author {
       @include section2spacing;
    }
  }

  .col-3 {
    @include leftfloat;
    width: 30%;
    margin-left: 5%;

    &:first-child {
      margin-left: 0;
    }
  }


  .col-4 {
    width: 22%;
    margin-left: 4%;
    @include leftfloat;

    &:first-child {
      margin-left: 0;
    }
  }


  section.content1 h3 {
    @include standardfont;
    font-weight: 100;

    .fa-2x {
      @include standardfont;
      padding-right: 1rem;
    }
  }

  section.content2 {
    h4 {
     @include footerfont;
    }

    li {
      @include footerfont;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }



  footer {
    .fa-circle {
      color: $light-brown;
    }

    h4 {
      &[lang=ru] {
        @include block;
      }

     @include DEAR;
      &[lang=en] {
        display: none;
      }
    }
  }

}





@include desktop {
  header {
    @include section1spacing;

    h1 {
      @include bigwidth;
      color: $dark-brown;

      i.fa-lg {
        display: inline;
        color: $dark-brown;
        vertical-align: baseline;
        @include nofloat;
        font-size: 4rem;
        line-height: 6.3968rem;
      }
    }

    nav {
      position: static;
      clear: both;
      @include bigwidth;
      padding: 0;

      ul > li {
        width: 20%;
        @include leftfloat;
        background-color: $white;

        a {
          @include footerfont;
          line-height: 2rem;
          min-height: 2rem;
          border: none;
          border-left: 1px solid $light-grey;
          padding: 0 1.0rem;
          margin: 1.0rem 0;
          background-color: $white;
        }
      }
    }
  }

  header:before,
  header:after {
    width: 450px;
  }


  header h1 i.fa-lg ~ span {
    @include nofloat;
    letter-spacing: 0.25rem;
    font-size: 3.998rem;
    /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
    @include alignleft;
  }




  header nav > ul > li:first-child a {
    border-left: none;
  }

  section.focal,
  section.content1,
  section.content2,
  footer {
   @include section1spacing;
  }

  section.focal {
    h2 {
      font-size: 3.998rem;
     @include section2spacing;
    }

    p.author {
      @include section2spacing;
    }
  }

  .col-3 {
    @include leftfloat;
    width: 30%;
    margin-left: 5%;

    &:first-child {
      margin-left: 0;
    }
  }

  .col-4 {
    width: 22%;
    margin-left: 4%;
    @include leftfloat;

    &:first-child {
      margin-left: 0;
    }
  }

  section.content1 h3 {
    font-size: 2.827rem;
    font-weight: 100;

    .fa-2x {
      font-size: 2.827rem;
      padding-right: 1rem;
      vertical-align: middle;
    }
  }

  section.content2 {
    h4 {
      @include standardfont;
    }

    li {
      @include standardfont;
    }

    p {
      @include footerfont;
      font-weight: 400;
    }
  }



  section.content2 p {
    @include footerfont;
    font-weight: 400;
  }

  footer {
    p {
      @include footerfont;
      letter-spacing: 0.2rem;

      &:last-child {
        color: $light-grey;
      }
    }

    .fa-circle {
      color: $med-blue;
    }

    h4 {
      &[lang=en] {
        @include block;
      }

     @include DEAR;
      &[lang=ru] {
        display: none;
      }
    }

  }
}
